<%= form_for @request do |f| %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.radio_button(:department, "sales") %>
    <%= f.label(:department, "Sales") %>
    <%= f.radio_button(:department, "marketing") %>
    <%= f.label(:department, "Marketing") %>
    <%= f.radio_button(:department, "technical") %>
    <%= f.label(:department, "Technical") %>
  </div>

  <div class="form-group">
  <%= f.label :message %>
  <%= f.text_area :message, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box(:action) %>
    <%= f.label(:action, "Not Done") %>
    <%= f.check_box(:action) %>
    <%= f.label(:action, "Done") %>
  </div>

  <%= f.submit class: "btn btn-primary" %>

  <% end %>
