<h1>Support Request Tool</h1>

    <div class="new-request-button">
      <%= link_to "Create new Request", new_request_path, class: "btn btn-success" %>
    </div>

     <div class="search-button">
      <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:query, "Search for:") %>
      <%= text_field_tag(:query) %>
      <%= submit_tag("Search") %>
      <% end %>
    </div> 

  
    <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>Message</th>
          <th>Action</th>
        </tr>
        <% @requests.each do |request| %>
      
        <tr>  
          <td><p><%= link_to request.name, request_path(request) %></p></td>
          <td><%= mail_to request.email %></td>
          <td><%= request.department %></td>
          <td><%= request.message %></td>
          <td><%= link_to "Edit", edit_request_path(request), class: "btn btn-primary" %> <%= link_to "Delete", @request, method: :delete, data: {confirm: "Are you sure you want to delete this request?"}, class: "btn btn-danger" %> <%= request.action %></td>
        </tr>  
        <% end %>  
    </table>   




