<h1>Search Results</h1>

<table class="table table-bordered">
 <tr>
  <th>Name</th>
  <th>Email</th>
  <th>Message</th>
  <th>Department</th>
  <th>Action</th>
 </tr>

  <% if @requests != [] %>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <td><%= request.email %></td>
        <td><%= request.message %></td>
        <td><%= request.department %></td>
        <td><%= request.action %></td>
      </tr>
    <% end %>
  <% else %>
    <%= @zero_result %>
  <% end %>

</table>

<div class="pagination">
  <%= will_paginate @requests %>
</div>

