<h2><%= @request.name %></h2>
<p><%= @request.email %></p>
<p><%= @request.department %></p>
<p><%= @request.message %></p>
<p><%= @request.action %></p>

<%= link_to "Edit", edit_request_path(@request), class: "btn btn-primary" %>

<%= link_to "Delete", @request, method: :delete, data: {confirm: "Are you sure you want to delete this request?"}, class: "btn btn-danger" %>



