<!DOCTYPE html>
<html>
<head>
  <title>SuportRequests</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="nav navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Create new Request", new_request_path %></li>
      </ul>
    </div>
  </nav>


<div class="container">
  <%= yield %>
</div>

</body>
</html>
